* {
  font-family: sans-serif;
}

a {
  color: #4286f4;
}

body {
  background-color: #1f1f1f;
}

.container {
  max-width: 800px;
  margin: 0 auto
}

.card {
  border: 1px solid #333;
  background-color: #0a0a0a;
  color: #eee;
  min-height: 100px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  transition: all 0.3s
}

.card:hover {
  -webkit-filter: opacity(.8);
  filter: opacity(.8);
}

.artwork, .track-title {
  display: inline-block;
  cursor: pointer;
}

.artwork {
  width: 100px;
  height: 100px;
  background-image: url(http://senda-arcoiris.info/images/100x100.gif);
  border-radius: 4px;
}

.artwork:hover {
  cursor: pointer
}

.track-title {
  max-width: calc(100% - 200px);
  margin: 0 15px;
  transform: translateY(-50px)
}

.track-title:hover {
  text-decoration: underline;
}

.controls {
  position: fixed;
  top: 2em;
  left: 2em;
}

.controls button {
  display: block;
  font-size: 1.5em;
  width: 120px;
  border-radius: 5px;
  margin-top: 10px;
}

#search {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#search h1 {
  color: #eee
}

input {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  font-size: 1.5em;
  text-align: center;
}

input:focus {
  outline: none;
}

.search-btn {
  width: 100px;
  height: 46px;
  transform: translateY(-2px);
  border-radius: 4px;
  background-color: white;
  font-size: 1.2em;
}
